@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*Reset & root*/
* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-body-bg-color: #1d0f1e;
    --color-grey: rgba(255, 255, 255, .2);
    --color-box-shadow: rgba(0, 0, 0, .3);

    --element-size: 70px;
    
    --font-main: 'Poppins', sans-serif;

    --fs-xl: 3rem;
    --fs-600: 1.8rem;
    --fs-500: 1.2rem;
    --fs-400: 1rem;
    --fs-300: .7rem;
    --fs-200: .5rem;
}

html, body, #root {
    color: var(--color-white);
}

body, input, textarea, a {
    color: var(--color-text-color);
    font-family: var(--font-main);
}

body {
    background: var(--color-body-bg-color);
    font-size: 16px;
    line-height: 1;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* padding: 50px 0; */
}

button, input {
    /* appearance: none; */
    background: none;
    outline: none;
    border: none;
}

/*Custom resets*/


img {
    max-width: 100%;
}
  
::selection {
    color: var(--color-white);
    background: #240e71;
}

/* Header */

.header-periodic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 5px 22px var(--color-box-shadow);
    padding: .5em 1rem;
    background-color: var(--color-body-bg-color);
}

.header-periodic > h1 {
    font-size: var(--fs-500);
}

/* Main */

.main-periodic {
    --gap: .25rem;
    position: relative;
    max-width: calc(18 * var(--element-size) + 17 * var(--gap));
    width: 90%;
    margin-bottom: 40px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.periodic-wrapper {
    overflow-x: auto;
}

.shadow {
    width: 100%;
    height: 100%;
}

.shadow::before, .shadow::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: transparent;
    transition: opacity .2s ease-in;
    pointer-events: none;
    z-index: 999;
}

.shadow::after {
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(252,252,252,0) 10%);
}

.shadow::before {
    background: linear-gradient(270deg, rgba(255,255,255,0) 90%, rgba(0,0,0,1) 100%);
}

.shadow.right::before, .shadow.middle::before, .shadow.left::after, .shadow.middle::after {
    opacity: .4;
}

.periodic-table {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(18, var(--element-size));
    grid-template-rows: repeat(10, var(--element-size));
}

.atom {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.atomic-symbol {}
.atomic-name { 
    /* position: absolute;
    bottom: 10px; */
    font-size: var(--fs-200); 
}

.atomic-number {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: var(--fs-200);
}

.dn { background-color: rgb(255, 178, 45)}
.ng { background-color: #240e71; }
.am { background-color: #dd6814; }
.aem { background-color: #dda414; }
.m { background-color: #dd1446; }
.pn { background-color: #21b73d; }
.pm { background-color: #463680; }
.tm { background-color: #8c1835; }
.l { background-color: #240e71; }
.a { background-color: #0e6571; }

/* Modal */

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-box-shadow);
}

.modal-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-body-bg-color);
    box-shadow: 0 0 10px var(--color-box-shadow);
    max-width: 500px;
    width: 90%;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
    /* max-width: 300px; */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 5px var(--color-box-shadow);
    z-index: 1;
}

.modal-close {
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.atom-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    width: 100%;
    height: 200px;
    flex: 0 0 auto;
}

.atom-properties {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 1rem;
}

.atom-wrapper {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.atom-property {
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 1rem;
}

.atom-property.horizontal {
    flex-direction: row;
    align-items: center;
}

.atom-property.tiny {
    height: 120px;
    overflow: hidden;
    border-bottom: 1px solid var(--color-grey);
}

.atom-content {
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding-bottom: 1rem;
    flex: 1 0 auto;
}

.atom-property:not(:last-child) {
    border-bottom: 1px solid var(--color-grey);
}

.atom-label {
    font-weight: bold;
    padding: .75rem 1rem .75rem;
    padding-left: 1.5rem;
    border-radius: 0 5px 5px 0;
    margin-bottom: .75rem;
    width: fit-content;
}

.atom-label.general {
    background-color: #dd1446;
}

.atom-label.note {
    background-color: #0e6571;
}

.atom-label.properties {
    background-color: #0e7120;
}

.atom-label.reactivity {
    background-color: #463680;
}

.atom-symbol {
    font-size: var(--fs-xl);
    font-weight: bold;
}

.atom-number {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.atom-name {
    font-size: var(--fs-500);
}

.atom-category {
    text-transform: capitalize;
    font-size: var(--fs-300);
    border-radius: 5px;
}

.atom-link {
    aspect-ratio: 1/1;
    width: 20px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.atom-mass::after {
    content: ' (g/mol)';
    opacity: .75;
    font-size: var(--fs-200);
}

.atom-spectral {
    border-radius: 5px;
    overflow: hidden;
}

.atom-key {
    font-weight: bold;
}

.atom-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid var(--color-grey);
    position: relative;
}

.atom-nav .ball {
    --size: 5px;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
}

.atom-nav > .left, .atom-nav > .right {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 1rem;
}

.atom-nav > .right > .arrowicon {
    transform: rotate(180deg);
    margin-left: auto;
}

.atom-nav > .left > .arrowicon {
    margin-right: auto;
}

.atom-nav > .left {
    flex-direction: row-reverse;
}

.atom-nav::after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-grey);
    
}

.celsius {
    color: #0e6571;
}

.fahrenheit {
    color: #dd6814;
}

.kelvin {
    color: #21b73d;
}

/* Icons */

.arrowicon, .closeicon, .searchicon  {
    width: 30px;
    cursor: pointer;
}

.searchicon {
    width: 20px;
}

body {
    overflow-x: hidden;
    /* overflow-y: scroll !important; */
}

body:has(.modal) {
    overflow: hidden;
    /* position: fixed; */
}

/* Search */

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.input-search {
    caret-color: #fff;
    color: #fff;
}

.atom-search--element {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.atom-search--element::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all .2s ease;
}

.atom-search--element:hover::after {
    background-color: var(--color-box-shadow);
    opacity: .5;
}

.atom-search--symbol {
    aspect-ratio: 1/1;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.atom-search--name {
    font-weight: bold;
    margin-bottom: 5px;
}

.atom-search--mass, .atom-search--number {
    font-size: var(--fs-300);
}

.atom-search--specs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Electron Shells */

.electron-container {
    position: relative;
    right: -15%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotating 24s linear infinite;
    cursor: pointer;
}

.electron-shell {
    position: relative;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 50%;
}

.electron-center {
    aspect-ratio: 1/1;
    width: .9rem;
    background-color: #fff;
    border-radius: 50%;
}

.electron-ball-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.electron-ball {
    aspect-ratio: 1/1;
    width: .6rem;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}

@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }