@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*Reset & root*/
* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-body-bg-color: #1d0f1e;
    --color-dark: #110911;
    --color-grey: rgba(255, 255, 255, .2);
    --color-box-shadow: rgba(0, 0, 0, .3);

    --element-size: 60px;
    
    --font-main: 'Poppins', sans-serif;

    --fs-xl: 3rem;
    --fs-600: 1.8rem;
    --fs-500: 1.2rem;
    --fs-400: 1rem;
    --fs-300: .7rem;
    --fs-200: .5rem;
}

html, body, #root {
    color: var(--color-white);
}

body, input, textarea, a {
    color: var(--color-text-color);
    font-family: var(--font-main);
}

body {
    background: var(--color-body-bg-color);
    font-size: 16px;
    line-height: 1;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* padding: 50px 0; */
}

button, input {
    /* appearance: none; */
    background: none;
    outline: none;
    border: none;
}

/*Custom resets*/

img {
    max-width: 100%;
}
  
::selection {
    color: var(--color-white);
    background: #240e71;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-dark);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #502061
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #2e1736;
  }

/* Header */

.header-periodic {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 5px 0 var(--color-box-shadow);
    padding: .75em 1rem;
    background-color: var(--color-body-bg-color);
    z-index: 999;
}

.header-periodic > h1 {
    font-size: var(--fs-500);
}

/* Main */

.main-periodic {
    --gap: .25rem;
    position: relative;
    /* max-width: calc(18 * var(--element-size) + 17 * var(--gap)); */
    width: 95%;
    margin-bottom: 40px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.periodic-wrapper {
    display: grid;
    grid-template-areas: 
        "- xbar"
        "ybar periodic";
    overflow-x: auto;
    overflow-y: hidden;
}

.overflow-hidden {
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(54px + 40px);
    background-color: var(--color-body-bg-color);
    z-index: 99;
}

.x-bar, .y-bar {
    background-color: var(--color-dark);
    border-radius: 5px;
    position: relative;
}

.x-bar {
    width: calc(18 * var(--element-size) + 17 * var(--gap) + 5px);
    grid-template-columns: repeat(18, 1fr);
    padding: .5rem 0;
    margin-bottom: 5px;
    margin-left: -5px;
    display: grid;
    grid-area: xbar;
    z-index: 97;
}

.y-bar {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    padding: 0 .5rem;
    margin-right: 5px;
    margin-top: -5px;
    height: calc(100% + 5px);
    max-width: fit-content;
    justify-self: end;
    grid-area: ybar;
    z-index: 98;
}

.x-element, .y-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    width: 100%;
    height: 100%;
}

.shadow::before, .shadow::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: transparent;
    transition: opacity .2s ease-in;
    pointer-events: none;
    z-index: 9;
}

.shadow::after {
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(252,252,252,0) 10%);
}

.shadow::before {
    background: linear-gradient(270deg, rgba(255,255,255,0) 90%, rgba(0,0,0,1) 100%);
}

.shadow.right::before, .shadow.middle::before, .shadow.left::after, .shadow.middle::after {
    opacity: .4;
}

.periodic-table {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(18, var(--element-size));
    grid-template-rows: repeat(10, var(--element-size));
    grid-area: periodic;
}

.atom {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: all .2s ease;
}

.atomic-name { 
    /* position: absolute;
    bottom: 10px; */
    font-size: var(--fs-200); 
}

.atomic-number {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: var(--fs-200);
}

.periodic-categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* display: flex; */
    /* flex-wrap: wrap; */
    column-gap: 10px;
    padding: 2rem;
    grid-area: 1 / 3 / span 3 / span 10;
    text-transform: capitalize;
}

.category-wrapper:nth-last-child(1), .category-wrapper:nth-last-child(2) {
    grid-column: span 2;
}

.category-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    font-size: .8rem;
    gap: 5px;
    cursor: pointer;
}

/* .category-content:nth-last-child(1), .category-content:nth-last-child(2) {
    grid-column: span 2;
} */

.category-ball {
    aspect-ratio: 1/1;
    width: 5px;
    border-radius: 50%;
}

.dn { background-color: #ffb22d; }
.ng { background-color: #240e71; }
.am { background-color: #dd6814; }
.aem { background-color: #dda414; }
.m { background-color: #dd1446; }
.h { background-color: #21b73d; }
.pm { background-color: #463680; }
.tm { background-color: #8c1835; }
.l { background-color: #240e71; }
.a { background-color: #0e6571; }
.all { background-color: #635f64;}


.density {
    --color: #240e71;
}

.electronegativity {
    --color: #0e6571;
}

.mass {
    --color: #9e27ff;
}

.electrons {
    --color: #ffb22d;
}

/* Modal */

body {
    overflow-x: hidden;
}

body:has(.modal) {
    overflow: hidden;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-box-shadow);
    opacity: 0;
    transition: opacity .2s ease;
}

.modal.open {
    opacity: 1;
}

.modal-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5);
    background-color: var(--color-body-bg-color);
    box-shadow: 0 0 10px var(--color-box-shadow);
    max-width: 500px;
    width: 90%;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
    transition: transform .2s ease;
    /* max-width: 300px; */
}

@media (max-width: 568px) {
    .modal-container:not(.smaller) {
        width: 100%;
        max-width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.modal.open > .modal-container {
    transform: translate(-50%, -50%) scale(1);
}

.modal-container.smaller {
    max-width: 400px;
    width: 90%;
    /* max-width: fit-content; */
    height: fit-content;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 0 5px var(--color-box-shadow);
    z-index: 1;
}

.modal-header.reverse {
    flex-direction: row-reverse;
}

.modal-close {
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.modal-inside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

/* Atom */

.atom-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    width: 100%;
    height: 200px;
    flex: 0 0 auto;
}

.atom-properties {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 1rem;
}

.atom-wrapper {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.atom-property {
    position: relative;
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 1rem;
}

.atom-property.horizontal {
    flex-direction: row;
    align-items: center;
}

.atom-property.tiny {
    height: 120px;
    overflow: hidden;
    border-bottom: 1px solid var(--color-grey);
}

.atom-content {
    display: flex;
    gap: 5px;
    flex-direction: column;
    /* padding-bottom: 1rem; */
    flex: 1 0 auto;
}

.atom-property:not(:last-child) {
    border-bottom: 1px solid var(--color-grey);
}

.atom-label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    padding: .75rem 1rem;
    border-radius: 0 5px 5px 0;
    margin-bottom: .75rem;
    width: fit-content;
}

.atom-label.general, .solid {
    background-color: #dd1446;
}

.atom-label.note, .liquid {
    background-color: #2bb4c6;
}

.atom-label.properties, .gas {
    background-color: #0e7120;
}

.atom-label.reactivity {
    background-color: #463680;
}

.atom-phase-wrapper {
    border-radius: 50%;
    padding: .6rem;
}

.atom-symbol {
    font-size: var(--fs-xl);
    font-weight: bold;
}

.atom-number {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.atom-name {
    font-size: var(--fs-500);
}

.atom-category {
    text-transform: capitalize;
    font-size: var(--fs-300);
    border-radius: 5px;
}

.atom-link {
    aspect-ratio: 1/1;
    width: 20px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.atom-mass::after {
    content: ' (g/mol)';
    opacity: .75;
    font-size: var(--fs-200);
}

.atom-spectral {
    border-radius: 5px;
    overflow: hidden;
}

.atom-key {
    font-weight: bold;
}

.atom-nav {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border-bottom: 1px solid var(--color-grey);
    position: relative;
}

.atom-nav .ball {
    --size: 5px;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
}

.atom-nav > .left, .atom-nav > .right {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 1rem;
}

.atom-nav > .right > .arrowicon {
    transform: rotate(180deg);
    margin-left: auto;
}

.atom-nav > .left > .arrowicon {
    margin-right: auto;
}

.atom-nav > .left {
    flex-direction: row-reverse;
}

.atom-nav::after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-grey);
    
}

.celsius, .fahrenheit, .kelvin {
    font-weight: bold;
}

.celsius {
    color: #2bb4c6;
}

.fahrenheit {
    color: #dd6814;
}

.kelvin {
    color: #21b73d;
}

/* Icons */

.icon-normal, .icon-smaller, .icon-tiny {
    flex-shrink: 0;
}

.icon-normal  {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.icon-smaller {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.icon-tiny {
    height: 15px;
    width: 15px;
}

.icon-reverse {
    transform: rotate(180deg);
}

.icon-nocursor {
    cursor: default;
}

/* Search */

.flex-wrap {
    flex-wrap: wrap;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: .75rem;
    flex: 1;
}

.input-search {
    width: 100%;
    caret-color: #fff;
    color: #fff;
}

.atom-search--element {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.atom-search--element::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all .2s ease;
}

.atom-search--element:hover::after {
    background-color: var(--color-box-shadow);
    opacity: .5;
}

.atom-search--nn {
    display: flex;
    gap: 5px;
    align-items: baseline;
}

.atom-search--symbol {
    aspect-ratio: 1/1;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-500);
}

.atom-search--name {
    font-weight: bold;
    margin-bottom: 5px;
}

.atom-search--mass, .atom-search--number {
    font-size: var(--fs-300);
}

.atom-search--specs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search-extra {
    font-weight: normal;
    font-size: var(--fs-300);
}

.not-found {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.not-found > span {
    font-size: var(--fs-600);
    font-weight: bold;
    width: 50%;
}

/* Electron Shells */

.electron-wrapper {
    position: absolute;
    left: 100%;
    transform: translateX(-60%);
}

.electron-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.electron-wrapper > .electron-container {
    animation: rotating 24s linear infinite;
    cursor: pointer;
}

.electron-shell {
    position: relative;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 50%;
}

.electron-center {
    aspect-ratio: 1/1;
    width: .9rem;
    background-color: #fff;
    border-radius: 50%;
}

.electron-ball-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.electron-ball {
    aspect-ratio: 1/1;
    width: .6rem;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}

/* Filter */

.filter {
    width: 120px;
    display: flex;
    align-items: center;
    gap: 5px;
    user-select: none;
    cursor: pointer;
}

.filter-ball {
    aspect-ratio: 1/1;
    width: 10px;
    border-radius: 50%;
    background-color: var(--color);
}

.filter-text {
    /* max-width: 80px; */
    padding: .5rem 0;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: auto;
}

.filter-properties {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    white-space: nowrap;
    gap: 5px;
}

.prop-button, .alpha-button, .filter-categories {
    text-align: center;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
    padding: .75em;
    font-size: var(--fs-300);
    border-radius: 5px;
}

.prop-button.active, .alpha-button.active {
    background-color: var(--color-dark);
}

.prop-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    flex: 1;
    border-radius: 5px;
    background-color: var(--color-dark);
}

.prop-bar--content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter-wrapper {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.filter-order {
    cursor: pointer;
    user-select: none;
}

.filter-label {
    font-size: var(--fs-400);
    font-weight: bold;
}

.search-categories {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-basis: 100%;
    overflow-x: auto;
}

.filter-categories.search {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--fs-300);
    white-space: nowrap;
}

@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }